<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Tickets</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='database.css') }}">
    <script src="{{ url_for('static', filename='config.js') }}"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>

</head>
<body>
<a href="{{ url_for('database_index') }}">
    <button class="back_button">Back</button>
</a>
<div class="container">
    <h1>Manage Tickets</h1>

    <details>
        <summary>Book Tickets</summary>
        <div class="form-container">
        <form id="ticketForm">
            <div class="form-group">
                <label for="route_id">Route ID:</label>
                <input type="text" id="route_id" name="route_id" placeholder="Route ID" required>
            </div>
            <div class="form-group">
                <label for="price">Price:</label>
                <input type="text" id="price" name="price" placeholder="Price" required>
            </div>
            <div class="form-group">
                <label for="gender">Gender:</label>
                <select id="gender" name="gender" required>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
            <div class="form-group">
                <label for="category">Category:</label>
                <select id="category" name="category" required>
                    <option value="red">red</option>
                    <option value="blue">blue</option>
                    <option value="green">gree</option>
                    <option value="orange">orange</option>
                </select>
            </div>
            <div class="form-group">
                <label for="direction">Direction:</label>
                <select id="direction" name="direction" required>
                    <option value="up">up</option>
                    <option value="down">down</option>
                </select>
            </div>
            <button type="submit" class="button">Submit</button>
        </form>
    </div>
    </details>


    <details>
        <summary>Verify Tickets</summary>
        <div class="form-container">
        <form id="verifyTicketForm">
            <div class="form-group">
                <label for="ticket_id">Ticket ID:</label>
                <input type="text" id="ticket_id" name="ticket_id" placeholder="Ticket ID">
            </div>
            <div class="form-group">
                <label for="ticketdate">Ticket Date (YYYY-MM-DD):</label>
                <input type="text" id="ticketdate" name="ticketdate" placeholder="Ticket Date">
            </div>
            <div class="form-group">
                <label for="route_id_verify">Route ID:</label>
                <input type="text" id="route_id_verify" name="route_id" placeholder="Route ID">
            </div>
            <button type="submit" class="button">Submit</button>
        </form>
    </div>
    </details>
</div>

<script>
    document.getElementById("ticketForm").addEventListener("submit", function (event) {
        event.preventDefault();
        const form = event.target;
        const formData = new FormData(form);
        const messageContainer = document.getElementById("ticketformMessage");

        fetch(config.databaseURL+"/database/ticket", {
            method: "POST",
            body: formData,
            })
            .then((response) => {
                return response.json();
            })
            .then((data) => {
                showAlert(data.status, data.message)
            })
            .catch((error) => {
                showAlert(error.message || "An error occurred while submitting the form.")
            });
        });

    document.getElementById("verifyTicketForm").addEventListener("submit", function (event) {
        event.preventDefault();
        const form = event.target;
        const formData = new FormData(form);
        const messageContainer = document.getElementById("verifyformMessage");
        const queryParams = new URLSearchParams();
            formData.forEach((value, key) => {
                queryParams.append(key, value);
            });

        fetch(config.databaseURL+ `/database/ticket?${queryParams.toString()}`, {
                method: "GET",
            })
        .then(response => {
            return response.json();
        })
        .then(data => {
            if (data.status == "error"){
                alert(data.message)
            }
            if (data.status == "success"){
                window.location.href = "{{url_for('render_tickets')}}?ticket_data=" +JSON.stringify(data.message);
            }

        })
        .catch(error => {
            messageContainer.textContent = error.message || "An error occurred.";
            messageContainer.className = "error";
        });
    });
</script>

</body>
</html>
